body{
    font-size: 14pt;
    font-weight: plain;
}
h1{
    color:white;
    padding: 5px;
    font-size: 24pt;
    background-color: red;
}
#msg{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 150px;
}